.profile__subtitle {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: normal;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;       
}


@media screen and (min-width: 1280px) {
    .profile__subtitle {
        font-size: 18px;
        line-height: 22px;    
        max-width: 560px;
    }
}

@media screen and (min-width: 321px) and (max-width: 1279px) {
    .profile__subtitle {
        font-size: calc(14px + 4/960*(100vw - 320px));            /*на 960 пикселов изменения ширины экрана получаем (18 - 14) = 4 пикселов изменения размера шрифта*/
        line-height: calc(17px + 5/960*(100vw - 320px));          /*на 960 пикселов изменения ширины экрана получаем (22 - 17) = 5 пикселов изменения интерлиньяжа*/
    }    
}

@media screen and (min-width: 701px) {
    .profile__subtitle {
        max-width: 560px;
        width: calc(282px + 600/960*(100vw - 320px) - 320px);
    }
}

@media screen and (max-width: 700px) {
    .profile__subtitle {
        max-width: calc(282px + 600/960*(100vw - 320px));
    }
}

@media screen and (max-width: 320px) {
    .profile__subtitle {
        max-width: 282px;
        font-size: 14px;        
        line-height: 17px;    
    }
}
