.footer__copyright {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #545454;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1280px) {
    .footer__copyright {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (min-width: 321px) and (max-width: 1279px) {
    .footer__copyright {
        font-size: calc(14px + 4/960*(100vw - 320px));          /*на 960 пикселов изменения ширины экрана получаем 18-14 пикселов изменения размера шрифта*/
        line-height: calc(17px + 5/960*(100vw - 320px));        /*на 960 пикселов изменения ширины экрана получаем 22-17 пикселов изменения интерлиньяжа*/
    }        
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;  
    }
}
