.popup__close-btn {
    position: absolute;
    border: 0;
    background: url(../../../images/close_sign.svg) center no-repeat;
}

.popup__close-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 601px) {
    .popup__close-btn {
        width: 41px;
        height: 41px;
        background-size: 41px;
        right: -32px;
        top: -32px;
    }    
}

@media screen and (max-width: 600px) {
    .popup__close-btn {
        width: 32px;
        height: 32px;
        background-size: 32px;
        right: 0px;
        top: -42px;
    }
}