@media screen and (min-width: 1280px) {
    .footer {
        width: calc(1280px - 398px); /*882px*/
        margin-top: 66px;
        margin-bottom: 60px;
    }    
}

@media screen and (min-width: 321px) and (max-width: 1279px) {
    .footer {        
        width: calc(282px + 600/960*(100vw - 320px));     /*на 960 пикселов изменения ширины экрана получаем (882 - 282) = 600 пикселов снижения ширины футера*/
        margin-top: calc(48px + 18/960*(100vw - 320px));         /*на 960 пикселов изменения ширины экрана получаем 66-48 пикселов изменения внешнего отступа сверху*/        
        margin-bottom: calc(36px + 24/960*(100vw - 320px));      /*на 960 пикселов изменения ширины экрана получаем 60-36 пикселов изменения внешнего отступа снизу*/
    }    
}

@media screen and (max-width: 320px) {
    .footer {
        width: calc(320px - 38px); /*282px*/
        margin-top: 48px;  
        margin-bottom: 36px;
    }    
}
